APP_NAME=SIGELFA
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlsrv
DB_HOST=localhost
DB_PORT=1433
DB_DATABASE=sigelfa_db
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password
DB_TRUSTED_CONNECTION=false
DB_TRUST_SERVER_CERTIFICATE=true